body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    font-weight: 900;
    font-size: 24px;
    border: red;
    border-style: solid;
    width: 100%;
}

.hero-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: green;
    border-style: solid;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: normal;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    border: greenyellow;
    border-style: solid;
}