body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    font-weight: 900;
    font-size: 24px;
    width: 100%;
}

.hero-section {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    justify-content: center;
    padding: 50px;
}

.text-group {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    padding: 20px;
}

.gallery {
    border: red;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.card {
    border: green;
    border-style: solid;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: normal;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

img {
    width: 400px;
    height: auto;
    padding: 50px;
}

button {
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 12px;
    font-weight: 700;
}